################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MazeGenerator/v14
/MazeGenerator/bin/Debug
/MazeGenerator/obj/Debug
/MazeGeneratorWPF/bin/Debug
/MazeGeneratorWPF/obj/Debug
/MazeTest/bin/Debug
/MazeTest/obj/Debug
/MazeTest/bin/x64/Debug
/MazeTest/obj/x64/Debug
/MazeTest/obj/x86/Debug
/MazeGenerator/bin/Release
/MazeGenerator/obj/Release
/MazeGeneratorWPF/bin/Release
/MazeGeneratorWPF/obj/Release
/MazeTest/bin/x64/Release
/MazeTest/obj/x64/Release
